@model IEnumerable<ProdutoModel>
@{
    bool? produtoExiste = TempData.ContainsKey("existe") ? (bool)TempData["existe"] : null;  
    bool? produtoSalva = TempData.ContainsKey("salvou") ? (bool)TempData["salvou"] : null;  
    bool? produtoExcluiu = TempData.ContainsKey("excluiu") ? (bool)TempData["excluiu"] : null;  

}

<Header class="d-flex justify-content-between align-items-lg-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Novo Produto</a>
    </div>
</Header>
<hr>

@if (produtoExcluiu.HasValue)
{
    if (produtoExcluiu.Value)
    {
        <partial name="_MensagemSucesso" model="@("Produto excluído com sucesso!")"></partial>
    }
    else
    {
        <partial name="_MensgemErro" model="@("Erro ao tentar excluir produto!")"></partial>
    }
}

@if (produtoSalva.HasValue)
{
    if (produtoSalva.Value)
    {
        <partial name="_MensagemSucesso" model="@("Produto salvo com sucesso!")"></partial>
    }
    else
    {
        <partial name="_MensgemErro" model="@("Erro ao tentar salvar produto!")"></partial>
    }
}

@if (produtoExiste.HasValue)
{
    <partial name="_MensgemErro" model="@("Produto não encontrado ou não informado!")"></partial>
}

@if (Model.Count() > 0)
{
    <table class="table table-striped tabela-categoorias">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Produto</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Categoria</th>
                <th class="text-center">Data de Cadastro</th>
                <th class="text-center">Data Última Alteração</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr>
                    <td class="text-center">@produto.ID</td>
                    <td class="text-center">@produto.Nome</td>
                    <td class="text-center">@produto.Valor.ToString("C")</td>
                    <td class="text-center">@produto.Quantidade</td>
                    <td class="text-center">@produto.Categoria.Nome</td>
                    <td class="text-center">@(produto.DataCadastro.Split(".")[0])</td>
                    <td class="text-center">@(produto.DataUltimaAlteracao.Split(".")[0])</td>
                    <td class="text-center">
                        <a asp-action="Cadastrar" asp-route-id="@produto.ID" class="btn btn-sm btn-secondary">
                            Alterar
                        </a>
                        <a asp-action="Excluir" asp-route-id="@produto.ID" class="btn btn-sm btn-danger">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum produto cadastrado. Para cadastrar <a asp-action="Cadastrar">clique aqui</a>.</p>
}

@section Scripts{
<script src="/lib/dist/js/bootstrap.js"></script>
}